# Proyecto Integrador
## Tecnológico de Monterrey
### Maestría en Inteligencia Artificial Aplicada (MNA)
#### Equipo 7
#### * Jorge Arturo Federico Rivera
#### * Marco Antonio Vázquez Morales
#### * Alejandro Vázquez

### Import libraries

In [2]:
import pandas as pd
import sweetviz as sv
from ydata_profiling import ProfileReport

### Read data from Excel databases

#### base_multimorb_fase1_fase_2_clinicas_originales.xlsx

In [3]:

excel_file_1 = "data/base_multimorb_fase1_fase_2_clinicas_originales.xlsx"

df1_sheet1 = pd.read_excel(
    excel_file_1,
    sheet_name=0,
)

df1_sheet2 = pd.read_excel(
    excel_file_1,
    sheet_name=1
)

df1_sheets = [
    df1_sheet1,
    df1_sheet2
]

df1 = pd.concat(df1_sheets)

df1.describe()

,no,hoja_datos,exclusion,ev_1ertrim,ev_dieta,biopsias,reiterativa,hospital_ref,estado,edad_dx,...,AcFsup_dosis_mg2,Multi0_acfol1_3,Peso_2av,Talla_2av,CMB_2av,PCT_2av,nvos,ins_pp_nutri,gluc_pp_nutri,peso_pg_h
count,1370.000000,1335.000000,1335.000000,1335.000000,1335.000000,1228.000000,1335.000000,1335.000000,1250.000000,1314.000000,...,154.000000,155.000000,159.000000,205.000000,154.000000,154.000000,191.0,237.000000,508.000000,182.000000
mean,683.538978,0.804494,0.153558,0.158801,0.183521,0.084691,0.005243,2.179026,0.580800,30.909437,...,1.059416,0.316129,67.477358,1.585873,28.700325,26.356818,1.0,12.699156,96.066732,63.998901
std,395.176340,0.396738,0.360660,0.369706,0.387238,0.278534,0.072249,1.194758,0.644208,6.832353,...,1.170355,0.466471,12.872608,0.056816,4.155021,6.387703,0.0,10.041676,18.328386,13.768613
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,15.000000,...,0.000000,0.000000,0.000000,1.430000,3.500000,7.500000,1.0,0.400000,58.000000,36.000000
25%,341.250000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,26.000000,...,0.400000,0.000000,58.600000,1.550000,26.500000,22.500000,1.0,6.500000,87.000000,54.000000
50%,683.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,32.000000,...,0.800000,0.000000,66.500000,1.590000,29.000000,26.500000,1.0,9.800000,93.000000,62.000000
75%,1025.750000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,1.000000,36.000000,...,1.000000,1.000000,74.750000,1.620000,31.000000,30.500000,1.0,16.400000,101.000000,70.000000
max,1367.000000,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,5.000000,2.000000,48.000000,...,6.000000,1.000000,104.200000,1.730000,39.000000,48.500000,1.0,78.600000,304.000000,117.000000

In [4]:
df1.head(10)

,no,id_gdg,id,registro,hoja_datos,exclusion,ev_1ertrim,ev_dieta,biopsias,reiterativa,...,Peso_2av,Talla_2av,CMB_2av,PCT_2av,nvos,ins_pp_nutri,gluc_pp_nutri,peso_pg_h,f_encCTOG,fecha_muestraCTOG
0,1.0,DG37D44,GD01,168096,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,6.6,76.0,NaN,NaN,NaN
1,2.0,DG28M97,GD04,175722,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11.7,97.0,NaN,NaN,NaN
2,3.0,DG73R77,GD05,174357,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,23.6,94.0,NaN,NaN,NaN
3,4.0,DG63E13,GD06,175476,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,13.0,99.0,NaN,NaN,NaN
4,5.0,DG61O38,GD07,107151,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,16.8,106.0,NaN,NaN,NaN
5,6.0,DG58D33,GD09,172078,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,176.0,NaN,NaN,NaN
6,7.0,DG59K63,GD010,57849,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,11.4,91.0,NaN,NaN,NaN
7,8.0,DG07U01,GD011,172468,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,105.0,NaN,NaN,NaN
8,9.0,DG15W71,GD012,166217,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,12.0,93.0,NaN,NaN,NaN
9,10.0,DG70J30,GD013,78886,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,14.4,111.0,NaN,NaN,NaN

In [5]:
df1.tail(10)

,no,id_gdg,id,registro,hoja_datos,exclusion,ev_1ertrim,ev_dieta,biopsias,reiterativa,...,Peso_2av,Talla_2av,CMB_2av,PCT_2av,nvos,ins_pp_nutri,gluc_pp_nutri,peso_pg_h,f_encCTOG,fecha_muestraCTOG
172,1358.0,NaN,HG294,783093,1.0,0.0,1.0,1.0,NaN,0.0,...,NaN,1.71,NaN,NaN,NaN,NaN,NaN,76.0,2018-03-13 00:00:00,2018-03-13 00:00:00
173,1359.0,NaN,HG295,647994,1.0,1.0,1.0,1.0,NaN,0.0,...,NaN,1.58,NaN,NaN,NaN,NaN,NaN,70.0,NaN,NaN
174,1360.0,NaN,HG296,784574,1.0,0.0,1.0,1.0,NaN,0.0,...,64.8,1.62,NaN,NaN,NaN,NaN,NaN,60.0,2018-04-25 00:00:00,2018-04-25 00:00:00
175,1361.0,NaN,HG297,507136,1.0,1.0,1.0,1.0,NaN,0.0,...,NaN,1.65,NaN,NaN,NaN,NaN,NaN,64.0,NaN,NaN
176,1362.0,NaN,HG298,691169,1.0,0.0,1.0,1.0,NaN,1.0,...,NaN,1.72,NaN,NaN,NaN,NaN,NaN,89.0,NaN,NaN
177,1363.0,NaN,HG299,500573,1.0,0.0,1.0,1.0,NaN,0.0,...,51.8,1.51,NaN,NaN,NaN,NaN,NaN,45.0,NaN,NaN
178,1364.0,NaN,HG300,SR,1.0,0.0,1.0,1.0,NaN,0.0,...,NaN,1.56,NaN,NaN,NaN,NaN,NaN,80.0,NaN,NaN
179,1365.0,NaN,HG301,653514,1.0,0.0,1.0,1.0,NaN,0.0,...,NaN,1.56,NaN,NaN,NaN,NaN,NaN,62.0,2018-07-11 00:00:00,2018-07-11 00:00:00
180,1366.0,NaN,HG302,787543,1.0,0.0,1.0,1.0,NaN,0.0,...,50.0,1.60,NaN,NaN,NaN,NaN,NaN,48.0,NaN,NaN
181,1367.0,NaN,HG303,NaN,1.0,0.0,1.0,1.0,NaN,0.0,...,0.0,1.72,NaN,NaN,NaN,NaN,NaN,54.0,NaN,00:00:00

##### ydata-profiling

In [8]:
profile1 = ProfileReport(
    df1,
    title="Profiling Report for df1",
    # explorative=True,
    minimal=True,
)
profile1.to_file("data/reports/profile1_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [1]:
# profile1.to_notebook_iframe()

##### sweetviz

In [29]:
"""
    Posibles target_feat indicados:
        modo_parto
        sdg_parto
        termino_rn
        macrosomia_rn
"""

sv_df1 = df1.astype(
    {
        "registro": "str",
    },
    copy=True
)

cols_to_numeric = [
    "sdg_dx",
    "gluc_pp_60",
    "ant_macrosomico",
    "sexo_rn",
    "peso_rn",
    "talla_rn",
    "pc",
    "capurro",
    "apgar_1",
    "apgar_5",
    "pH_A",
    "pO2_A",
    "pCO2_A",
    "pH_V",
]

for col in cols_to_numeric:
    sv_df1[col] = pd.to_numeric(sv_df1[col], errors="coerce")

report1 = sv.analyze(
    sv_df1,
    # target_feat="termino_rn",
    pairwise_analysis="off",
    # verbosity="progress_only",
)

                                             |          | [  0%]   00:00 -> (? left)

TypeError:

Column [pH_V] has a 'mixed' inferred_type (as determined by Pandas).
This is is not currently supported; column types should not contain mixed data.
e.g. only floats or strings, but not a combination.

POSSIBLE RESOLUTIONS:
BEST -> Make sure series [pH_V] only contains a certain type of data (numerical OR string).
OR -> Convert series [pH_V] to a string (if makes sense) so it will be picked up as CATEGORICAL or TEXT.
     One way to do this is:
     df['pH_V'] = df['pH_V'].astype(str)
OR -> Convert series [pH_V] to a numerical value (if makes sense):
     One way to do this is:
     df['pH_V'] = pd.to_numeric(df['pH_V'], errors='coerce')
     # (errors='coerce' will transform string values to NaN, that can then be replaced if desired; consult Pandas manual pages for more details)

In [ ]:
report1.show_html(
    filepath="data/reports/sv_report1.html",
    open_browser=False,
)

In [ ]:
# report1.show_notebook()

#### base_metabolicos_geneticos

In [10]:
excel_file_2 = "data/base_metabolicos_geneticos.xlsx"

df2 = pd.read_excel(
    excel_file_2,
    sheet_name=0,
)

df2.describe()

,ast_pv,alt_pv,crea_pv,homo_pv,vb12_pv,acfol_pv,ast_dx,alt_dx,crea_dx,homo_dx,...,PC4,PC5,PC6,PC7,PC8,PC9,PC10,_merge,aim_118,aim_32
count,0.0,0.0,25.000000,25.000000,25.000000,25.000000,135.000000,133.000000,256.000000,588.000000,...,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1006.000000,1023.000000,1023.000000,1023.000000
mean,NaN,NaN,0.571600,6.875200,352.840000,27.780000,15.570370,11.052632,0.650352,7.720731,...,0.000092,-0.001400,-0.002408,0.000771,0.000467,-0.000146,-0.000568,2.966764,0.983382,0.076246
std,NaN,NaN,0.084591,1.681128,92.053734,9.309896,9.310194,7.121580,0.151733,2.774743,...,0.019938,0.020758,0.019974,0.020797,0.021150,0.021143,0.020628,0.255794,0.127897,0.265522
min,NaN,NaN,0.440000,4.040000,222.000000,9.300000,1.000000,0.000000,0.280000,3.900000,...,-0.054300,-0.073900,-0.062600,-0.062100,-0.066100,-0.080700,-0.068700,1.000000,0.000000,0.000000
25%,NaN,NaN,0.520000,5.960000,275.000000,21.300000,8.500000,7.000000,0.540000,5.820000,...,-0.013600,-0.014575,-0.015700,-0.012975,-0.013700,-0.013825,-0.013875,3.000000,1.000000,0.000000
50%,NaN,NaN,0.560000,6.480000,333.000000,27.700000,15.000000,9.000000,0.660000,7.050000,...,-0.001950,-0.002100,-0.002400,-0.000800,-0.001100,-0.000750,-0.000850,3.000000,1.000000,0.000000
75%,NaN,NaN,0.640000,7.470000,415.000000,34.400000,19.000000,13.000000,0.735000,8.930000,...,0.012900,0.011675,0.011875,0.013300,0.013300,0.014700,0.012975,3.000000,1.000000,0.000000
max,NaN,NaN,0.770000,12.150000,545.000000,49.200000,52.000000,40.000000,1.400000,26.990000,...,0.072200,0.065000,0.083000,0.071300,0.091400,0.060200,0.061700,3.000000,1.000000,1.000000

In [11]:
df2.head(10)

,IID,id,id_muestra_det,ast_pv,alt_pv,crea_pv,homo_pv,vb12_pv,acfol_pv,ast_dx,...,PC4,PC5,PC6,PC7,PC8,PC9,PC10,_merge,aim_118,aim_32
0,NaN,HG122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
1,CM264,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1
2,CM266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1
3,CM267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1
4,CM271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1
5,CM272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1
6,CM273,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1
7,CM275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1
8,CM277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1
9,CM279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1

In [12]:
df2.tail(10)

,IID,id,id_muestra_det,ast_pv,alt_pv,crea_pv,homo_pv,vb12_pv,acfol_pv,ast_dx,...,PC4,PC5,PC6,PC7,PC8,PC9,PC10,_merge,aim_118,aim_32
1013,DG98W88,GC114,GC114,NaN,NaN,NaN,NaN,NaN,NaN,26.0,...,0.0076,-0.0102,0.0092,0.0263,0.0035,0.0400,-0.0168,3,1,0
1014,DG99B99,GD166,GD166,NaN,NaN,NaN,NaN,NaN,NaN,21.0,...,-0.0088,0.0012,-0.0517,-0.0144,-0.0306,-0.0038,0.0179,3,1,0
1015,DG99C21,GC15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.0350,-0.0235,0.0300,-0.0123,0.0095,-0.0012,0.0134,3,1,0
1016,DG99E22,GC131,GC131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0030,0.0082,-0.0251,0.0128,-0.0312,-0.0228,-0.0496,3,1,0
1017,DG99G31,CM077,CM077,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.0225,-0.0078,-0.0321,-0.0046,0.0240,-0.0149,-0.0002,3,1,0
1018,DG99I41,HN05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.0072,-0.0062,0.0128,0.0381,0.0319,-0.0014,0.0072,3,1,0
1019,DG99L64,GC95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0109,0.0096,0.0152,-0.0325,0.0372,0.0072,-0.0018,3,1,0
1020,DG99R72,GC190,GC190,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.0287,-0.0314,-0.0032,-0.0028,0.0059,0.0089,-0.0190,3,1,0
1021,DG99V27,HG085,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0106,-0.0283,-0.0114,0.0003,0.0172,0.0025,-0.0135,3,1,0
1022,DG99Z36,HN276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0247,-0.0082,0.0069,-0.0108,-0.0060,-0.0173,-0.0139,3,1,0

##### ydata-profiling

In [13]:
profile2 = ProfileReport(
    df2,
    title="Profiling Report for df2",
    # explorative=True,
    minimal=True,
)
profile2.to_file("data/reports/profile2_report.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [5]:
# profile2.to_notebook_iframe()

##### sweetviz